<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div>

                <h2 class="my-2 bg-dark text-white text-center">Parent Component</h2>


                <div class="card">
                    <div class="card-body">
                        <p><span class="font-weight-bolder">Primitive Data: </span>{{ primitiveData }}
                            <input class="form-control my-2" type="text" [value]="primitiveData" #input>
                        </p>

                        <button mat-raised-button color="primary" (click)="updatePrimitiveData(input)">Update Primitive Data</button>

                        <hr>

                        <p class="font-weight-bolder">Non-Primitive Data: </p>
                        <ul><li *ngFor="let item of nonPrimitiveData">{{ item }}</li></ul>
                        <button mat-raised-button color="primary" (click)="addItem()">Add Item</button>

                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-6">
            <app-child [data]="primitiveData" [nonPrimitive]="nonPrimitiveData">
            </app-child>
        </div>
    </div>
</div>