
<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th>Sr.No.</th>
            <th>Todo Items</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todoArr; let i = index">
            <td>{{i+1}}</td>
            <td>{{todo.todoitem}}</td>
        </tr>
    </tbody>
</table>

<div class="card mb-2">
    <div class="card-body">
        Specifically, the <span class="font-weight-bolder">table-list.component</span> has been provided with its own instance of the service by adding it to the providers array at the component level.
    </div>
</div>